PORT=4010

# === Odoo (DFLEX ARGENTINA S.A.S.) ===
ODOO_URL=https://degrandisportones-degrandisportones1.odoo.com
ODOO_DB=degrandisportones-degrandisportones1-main-23156897
ODOO_USERNAME=sistemas@degrandisportones.com
ODOO_PASSWORD=
ODOO_COMPANY_ID=1

# === Login de la herramienta ===
ARCA_AUTH_USER=admin
ARCA_AUTH_PASSWORD=
